@model OmegaProject.Models.Department

@{
    ViewData["Title"] = "Phòng ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Phòng ban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã phòng ban
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepNo)
        </dd>
        <dt>
            Tên phòng ban
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepName)
        </dd>
        <dt>
            Ghi chú
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepNotes)
        </dd>
        <dt>
            Không hiển thị
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepDisabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepId">Chỉnh sửa</a> |
    <a asp-action="Index">Trở lại danh sách</a>
</div>
