@model OmegaProject.Models.ContactUs

@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>bạn có chắc chắn muốn xóa không ?</h3>
<div>
    <h4>Liên hệ</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ConId" />
        <dt>
            Tiêu đề
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConTitle)
        </dd>
        <dt>
            Người liên hệ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConName)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConEmail)
        </dd>
        <dt>
            Số điện thoại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConPhone)
        </dd>
        <dt>
            Nội dung
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConContent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Trở lại danh sách</a>
        </div>
    </form>
</div>
